.container {
    width: 700px;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #540463;
}

.facebook, .google, .buttom-login {
    width: 270px;
    height: 32px;
    margin-top: 18px;
    border-radius: 5px;
}

.buttom-login {
    width: 269px;
    height: 44px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    font-weight: bold;
    color: #540463;
    background-color: #FFEB39;
}

.container-flex {
    width: 269px;
    display: flex;
    justify-content: space-around;
}

.register-login, .forgot-login {
    text-decoration: none;
}
